@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Mukta:wght@300;400&family=Poppins:wght@400;500&family=Vazirmatn:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.logo{
    font-size: 30px; 
    font-weight: 600;
    
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
span{
    color:rgb(201, 151, 107)
}

/* nav bar styling */

.navbar{
    position: absolute;
    width: 100%;
    padding: 30px 0;
    font-family:'Mukta', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 30px;
    background-color: rgb(201, 151, 107);
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.logo a{
    font-size: 35px;
    font-weight: 600;
    color:rgb(90, 127, 158);
}

.navbar .menu li{
    list-style: none;
    display:inline-block;  
}

.navbar .menu li a{
    color: rgb(26, 66, 101);
    font-size: 20px;
    margin-left: 30px; 
    transition: color 0.4s ease;
}
.navbar .menu li a:hover{
    color:rgb(106, 53, 205);

}
/*menu btn section*/
.menu-btn{
    color:aliceblue;
    font-size:20px;
    cursor:pointer;
    display: none;
}

/* main section*/
.home{
    display:flex;
    background: url(images/sea-edge-79ab30e2.png)no-repeat center;
    height:100vh;
    background-size: cover;
    background-attachment: fixed;
    color:rgb(44, 40, 40);
    min-height:500px;
    font-family:'Mukta', sans-serif;
}
.home .max-width{
    margin:auto 0 auto 40px
}
.home .home-content .text-1{
    font-size: 25px;
}
.home .home-content .text-2{
    font-size: 55px;
    margin-left: -3px;
    font-weight: 500;
    
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 6px 0;
}
.home .home-content .text-3 span{
    color:rgb(201, 151, 107);
    font-weight: 600;
}

/*media query portion*/
@media (max-width: 965px){
    .max-width{
        padding: 0 50px;
    }  

    .menu-btn{
        display: block;
        z-index: 999;

    }  

    .navabr .menu{
        position: fixed;
        background:#111;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
    
    }
    .navbar .menu.active{
        left:0;
    }

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
      display: inline-block;  
      margin:20px 0;
      font-size: 25px;
    }
}

/*css targeting email input aka newsletter*/
.newsletter form{
    width: 360px;
    max-width: 100%;
    position: relative;
}

.newsletter form input:first-child{
    display:inline-block;
    width: 100%;
    padding:15px 125px 15px 17px;
    border: 2px solid rgb(201, 151, 107);
    outline: none;
    border-radius: 30px;
    
}

.newsletter form input:last-child{
    position:absolute;
    display: inline-block;
    outline: none;
    border:none;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgb(201, 151, 107);
    color:white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #7c3b89 ; 
    top: 7px;
    right: 7px;
}
/* about me section*/
.about{
    width: 100%;
    padding: 100px 0px;
   /* conic gradient color background*/ 
    background-image: conic-gradient(black, grey, black, grey, black);
}
.about img{
    height:auto;
    width:450px;

}
.about-me{
    width:550px;
}
.main{
    width: 1150px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.about-me h2{
    color: white;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;


}
.about-me h4{
    color:white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-me p{
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 43px;
}
button{
    background-color: rgb(201, 151, 107);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:12px 30px;
    border-radius: 30px;
    transition: .5s;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(201, 151, 107);
    cursor: pointer;
}
.service{
    background: #101010;
    width:100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 50px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 360px;
    width: 330px;
    padding: 20px 35px;
    background:#19191993;
    border-radius: 20px;
    margin:15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

#avatar1{
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgb(201, 151, 107);
    
}
/* found this cool gradient color background(266-284), credit to Manuel Pinto */
.service{
    
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    /*target the icons and make them bigger*/
    /*i{
        font-size: 30px;
    }*/

    .card i{
        font-size: 30px;
        display: block;
        text-align: center;
        margin: 25px 0px;
        color: rgb(201, 151, 107);

    }
   h4{
       color:aliceblue;
       font-size: 22px;
       margin-bottom: 16px;
    
   } 

   .praa p{
       color:aliceblue;
       font-size: 15px;
       margin-bottom: 25px;
   }
   .card .button{
    background-color: rgb(201, 151, 107);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 7px 18px;
    border-radius: 30px;
    transition: .5s;
   }
   .card .button:hover{
    background-color: transparent;
    border: 2px solid rgb(201, 151, 107);
    cursor: pointer;
   }

   /*contacts portion*/

   .Contact{
       width: 100%;
       height: 175px;
       background: #111;
       display: flex;
       align-items: center;
       flex-direction: column;
       justify-content: center;
   }
   .Contact p{
       color: aliceblue;
       font-size: 25px;
       font-weight: bold;
       margin-bottom: 25px;
   }
   .Contact .button-2{
    background-color: rgb(201, 151, 107);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding:12px 30px;
    border-radius: 30px;
    transition: .5s;
   }
   .Contact .button-2:hover{
    background-color: transparent;
    border: 2px solid rgb(201, 151, 107);
    cursor: pointer;
   }